/* 2-color_variables */
$text_color: #3D3D3D;
$bg_color: #6D6D6D;

body {
    color: $text_color;
    background-color: $bg_color;
}

p {
    color: $text_color;
}

h2 {
    background-color: $bg_color;
}
